[submodule "sourcedata/multfs.fmriprep"]
	path = sourcedata/multfs.fmriprep
	url = https://github.com/courtois-neuromod/multfs.fmriprep
	datalad-id = 304ac9d7-afb0-4495-8372-86ed052bb6f2
	datalad-url = https://github.com/courtois-neuromod/multfs.fmriprep
